__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# environment
.env

# Model files
*.h5
*.pt
*.pth
*.joblib
*.pkl


# IDE
.vscode/
.idea/
*.swp

# database
*.db
*.sqlite

# logs
*.log

# OS
.DS_Store